@charset "UTF-8";/*꼭 넣기*/
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'HakgyoansimWoojuR';
}
*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
body{
    margin: 0;
    font-family: "GmarketSansMedium";
    font-size: 12px;
    line-height: 22px;
    color: #fff1e0;
    height: 100%;
    box-sizing: border-box;
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.92;
    overflow: hidden;
  }
  
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    background-size: cover; 
    /* 와 비슷함. (HTML 요소 or 비디오와 작동) */
    
  }
/*top*/
#top{
    width: auto;
    margin: 0 auto;
}
.logo img{/*왼쪽*/
    display: inline-block;
    width: 300px;
    padding: 1.2%;
}
/**/
.section_wrap{
    margin: 1% auto;
    width: 90%;
    height: auto;
    /* background-color: #fff5f5; */
    display: flex;
    justify-content: center;
}
.character_img{
    display: inline-block;
    /* width: 28%;
    height: 800px;
    background: url(../img/character_arika.png) center no-repeat;
    background-size: contain;
    background-color: aqua; */
}
.character_text{
    width: 30%;
    overflow: hidden;
    /* background-color: rgba(83, 83, 92, 0.2); */
    border-radius: 30px;
    padding: 20px;
    word-break: break-all
}
.character_text p{
    font-size: 18px;
}
.character_text p:nth-child(3){
    font-size: 20px;
}
.character_text h1{
    font-size: 36px;
    padding-top: 20px;
}
