@charset "UTF-8";/*꼭 넣기*/
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'HakgyoansimWoojuR';
}
*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
body{
    margin: 0;
    font-family: "GmarketSansMedium";
    font-size: 12px;
    line-height: 22px;
    color: #fff1e0;
    height: 100%;
    box-sizing: border-box;
    background-color: #0d111e;
}
.bg {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    margin: 0px auto;
    z-index: -99;
  }
/*top*/
#top{
    width: 94%;
    height: 70px;
    margin: 0 auto;
    /* background-color: aqua; */
    position: relative;
    /* margin-bottom: 40px; */
}
#top .logo{
    width: 240px;
    height: 50px;
    float: left;
    margin: 14px auto;
}
/**/
.section_wrap{
    margin: 1% auto;
    height: 20%;
    /* background-color: #fff5f5; */
}
.section{
    height: 720px;
    margin-bottom: 40px;
}
.character_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.character_img{
    display: inline-block;
    /* width: 28%;
    height: 800px;
    background: url(../img/character_arika.png) center no-repeat;
    background-size: contain;
    background-color: aqua; */
}
.character_text{
    display: inline-block;
    width: 530px;
    height: 640px;
    /* background-color: rgba(83, 83, 92, 0.2); */
    border-radius: 30px;
    padding: 20px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.character_text p{
    font-size: 18px;
    word-break: break-all;
}
.character_text p:nth-child(3){
    font-size: 20px;
}
.character_text h1{
    font-size: 36px;
    padding-top: 20px;
}
/*footer*/
#footer_wrap{
    height: 150px;
    background-color: #0d111e;
}
.footer{
    width: 94%;
    height: 100%;
    margin: 0 auto;
    /* background-color: tomato; */
    display: flex;
    align-items: flex-end
}
video{
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}