@charset "UTF-8";/*꼭 넣기*/
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'HakgyoansimWoojuR';
}
*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
body{
    font-family: "GmarketSansMedium";
    font-size: 12px;
    line-height: 22px;
    color: #fff1e0;
    /* background-color: #00122b; */
    background-color: #0d111e;
    height: 100%;
    list-style: none;
}
a{color: #fff1e0; text-decoration: none;}
.bg {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    margin: 0px auto;
    z-index: -99;
    box-sizing: border-box;
  }
/*top*/
#top{
    width: 94%;
    height: 70px;
    margin: 0 auto;
    /* background-color: aqua; */
    position: relative;
    /* margin-bottom: 40px; */
}
#top .logo{
    width: 240px;
    height: 50px;
    float: left;
    margin: 14px auto;
}
/*메뉴는 생각중*/
#section1_wrap, #section2_wrap{
    height: 700px;
    /* background: aqua; */
    /* margin-bottom: 40px; */
}
#section1_wrap{
    margin-bottom: 40px;
}
#section2_wrap{
    background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
}
.section1, .section2{
    width: 94%;
    height: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    /* background-color: darkorange; */
    display: flex;
}
.section1
{
    position: relative;
}
.section1_text{
    width: 30%;
    height: 38%; /*60*/
    /* background-color: aquamarine; */
    position: absolute;
    top: 6%;
    left: 10%;
    z-index: 2;
}
.section1_text h1{
    font-family: 'MapoDPPA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    line-height: 80px;
    letter-spacing: -4px;
    box-sizing: border-box;
}
.section1_mini_text{
    width: 30%;
    height: 18%;
    position: absolute;
    bottom: 12%;
    right: 2%;
    /* background-color: aqua; */
    z-index: 2;
}
.section1_mini_text p{
    font-size: 50px;
}
/* .section1_text h1{
    font-size: 48px;
    padding-top: 14%;
    padding-bottom: 8%;
    letter-spacing: 0.5rem;
}
.section1_text h2{
    font-size: 24px;
    padding-bottom: 5%;
    letter-spacing: 0.5rem;
} */
.section1_img{
    width: 70%;
    height: 64%;
    background: url(../img/20220304\ 1.png);
    background-size: cover ;
    background-position: 70% 10%;
    position: absolute;
    bottom: 20%;
    right: 10%;
    z-index: 1;
}
.section2 .page-wrapper{
    display: none;
}
.character_box{
    margin: 0 auto;
    /* background-color: rgb(226, 51, 176); */
    display: flex;
}
.character_box ul{
    text-align: center;
    display: flex;
}
.character_box li{
    display: inline-block;
    width: 130px;
    height: 550px;
    margin: 0 0.4%;
    margin-top: 6%;
    /* background-color: aquamarine; */
}
.character_box li a{ /*li 전체 링크 속성*/
    width: 100%;
    height: 100%;
    display: block;
}
.character_box li p{
    padding: 2px 6px;
}
.character_box li p{
    color: #fff1e0;
    /*세로 오른쪽->왼쪽*/
    /* writing-mode: vertical-rl; */
    font-size: 14px;
    padding: 4px;
}
.character_box li:nth-of-type(1-10){
    background-size: contain;
}
.character_box li:nth-child(1) a{ /*아리카*/
    background-image: url(../img/character_pick_1.png);
    opacity: 0.15;
    transition: all 2s;
}
.character_box li:nth-child(1):hover a{
    opacity: 1;
    background-blend-mode: normal;
    background-image: url(../img/character_pick_1.png);
    transform: translateY(-50px);
    transition: 1s ease;
}
.character_box li:nth-child(2) a{ /*네리*/
    background-image: url(../img/character_pick_2.png);
    opacity: 0.15;
    transition: all 2s;
}
.character_box li:nth-child(2):hover a{
    opacity: 1;
    background-blend-mode: normal;
    background-image: url(../img/character_pick_2.png);
    transform: translateY(-50px);
    transition: 1s ease;
}
.character_box li:nth-child(3){ /*이화*/
    background-color: rgba(132, 132, 132, 0.2);
}
.character_box li:nth-child(4){ /*선율*/
    background-color: rgba(132, 132, 132, 0.2);
}
.character_box li:nth-child(5){ /*서이인*/
    background-color: rgba(132, 132, 132, 0.2);
}
.character_box li:nth-child(6) a{ /*아이즈*/
    background-image: url(../img/character_pick_6.png);
    opacity: 0.15;
    transition: all 2s;
}
.character_box li:nth-child(6) a{
    background-image: url(../img/character_pick_6.png);
    opacity: 0.15;
    transition: all 2s;
}
.character_box li:nth-child(6):hover a{
    opacity: 1;
    background-blend-mode: normal;
    background-image: url(../img/character_pick_6.png);
    transform: translateY(-50px);
    transition: 1s ease;
}
.character_box li:nth-child(7){ /*천솔*/
    background-color: rgba(132, 132, 132, 0.2);
}
.character_box li:nth-child(8) a{ /*모카*/
    background-image: url(../img/character_pick_8.png);
    opacity: 0.15;
    transition: all 2s;
}
.character_box li:nth-child(8):hover a{
    opacity: 1;
    background-blend-mode: normal;
    background-image: url(../img/character_pick_8.png);
    transform: translateY(-50px);
    transition: 1s ease;
}
.character_box li:nth-child(9){ /*모니카*/
    background-color: rgba(132, 132, 132, 0.2);
}
.character_box li:nth-child(10) a{ /*아루스*/
    background-image: url(../img/character_pick_10.png);
    opacity: 0.15;
    transition: all 2s;
}
.character_box li:nth-child(10) a{
    background-image: url(../img/character_pick_10.png);
    opacity: 0.15;
    transition: all 2s;
}
.character_box li:nth-child(10):hover a{
    opacity: 1;
    background-blend-mode: normal;
    background-image: url(../img/character_pick_10.png);
    transform: translateY(-50px);
    transition: 1s ease;
}
/*footer*/
#footer_wrap{
    height: 150px;
    background-color: #0d111e;
}
.footer{
    width: 94%;
    height: 100%;
    margin: 0 auto;
    /* background-color: tomato; */
    display: flex;
    align-items: flex-end;
}
/*post slider*/
.post-slider{
    width:70%;
    margin:0px auto;
    position:relative;
  }
  .post-slider .silder-title{
    text-align:center;
    margin:30px auto;
  }
  .post-slider .next{
    position:absolute;
    top:40%;
    right:0px;
    cursor: pointer;

  }
  .post-slider .prev{
    position:absolute;
    top:40%;
    left:0;
    cursor: pointer;
  }
  .post-slider .post-wrapper{
  
    width:84%;
    height:450px;
    margin:0px auto;
    overflow: hidden;
    padding:10px 0px 10px 0px;
  }
  .post-slider .post-wrapper .post{
    height:30%;
    overflow: hidden;
    margin:0px 10px;
    display:inline-block;
    border-radius: 0px;
  }
  .post-slider .post-wrapper .post .post-info{
    font-size:15px;
    padding-left:10px;
  }
  .post-slider .post-wrapper .post .slider-image{
    width:100%;
    border-radius: 10px;
  }